#conhecimento{
    background-color: #dcdde1;
    height: 100%;
    padding: 20px 30px;
    min-height: 100vh;
}

.panel-title{
	font-size: 20pt;
	font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
	letter-spacing:0.1em;
	font-variant: small-caps;
	line-height: 145%;
}

.box-conhecimento h5 strong,
.box-conhecimento p{
	font-size: 12pt;
	font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
	text-align: justify;
	letter-spacing:0.1em;
	font-variant: small-caps;
	line-height: 145%;
}

.box-conhecimento p{
	text-indent: 4em;
}