#cabecalho{
	background-color: #535c68;
	height: 90%;
}

#menu{
	background-color: #30336b;
	height: auto;
}

#contato{
	background-color: blue;
	height: 450px;
	padding: 20px 30px;
}

.textoBanner{
	width: 100%;
	border: 1px solid #FFFFFF;
	padding: 30px 0 30px;
}

.textoBanner > *{
	font-family: 'Open Sans', sans-serif;
	font: bold 25px sans-serif;
	color: #FFFFFF
}

#menuNavBar{
	height: 100%;
	margin: 0px;
	padding: 0px;
}

/*FONTE MENU*/

.btn-menu{
    transition: ease .5s;
	-webkit-transition: ease .5s;
    -moz-transition: ease .5s;
}
.btn-menu:hover{
    border-radius: 50px;
    color: #000;
}