/*Bootstrap scrollspy plugin*/
body {
    position: relative; 
}

blockquote{
	color: #FFFFFF;
}

#cabecalho{
	background-color: #535c68;
	height: 100%;
}

#sobre{
	background-color: #273c75;
	height: 100%;
	padding: 50px 30px;
	display: table;
}

#experiencia{
	background-color: blue;
	height: 100%;
	padding: 20px 30px;
}

#menu ul li a, #menu a{
	font-size: 20pt;
	font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
}

.textoBanner{
	margin-top: 25%;
	width: 100%;
	border: 1px solid #FFFFFF;
	padding: 30px 100px 30px;
}


.img-itsme{
	margin: 40px auto;
	align-items: center;	
}

.titulo{
    font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
    color: #FFFFFF;
    font-size: 35pt;
}

.subtitulo, .subtitulo h2, .subtitulo h3	{
	font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
    color: #FFFFFF;
    font-size: 20pt;
}

.texto-informacao{
    color: #FFFFFF;
    font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
 	letter-spacing:0.1em;
	margin: 20px auto;
 	line-height: 145%;
 	font-size: 12pt;
 	font-variant: small-caps;
 	text-align: justify;
 	text-indent: 4em;
}