/*Bootstrap scrollspy plugin*/
body {
    position: absolute;
}

#cabecalho{
	background-color: #535c68;
	height: 100%;
}

#menu ul li a, #menu a{
	font-size: 20pt;
	font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
}

.subtitulo {
	font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
    color: #FFFFFF;
    font-size: 20pt;
}

.textoBanner{
	width: 100%;
	border: 2px solid #FFFFFF;
	padding: 30px 100px 30px;
	display: block;
}