/*.page-header h1{
  font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
  color: #FFFFFF;
  font-size: 35pt;
  letter-spacing:0.1em;
	font-variant: small-caps;
	line-height: 145%;
}

.vAlign{
  flex-direction: column;
	justify-content: center;
	align-items: center;
	display: flex;
	height: 100vh;
}
*/
/*Correção de espaço em telas menores*/
/*.pull-left{
	margin-right: 25px;
}*/

.box-shadow{
	/*Tecnica para sobrepor sombra*/
	box-shadow: 0 2px 4px 0 rgba(0,0,0,.05),
				0 4px 8px 0 rgba(0,0,0,.05);
}

body{
	padding-top: 72px;
}
hr{
	color: #FFFFFF;
}