.box-shadow{
	/*Tecnica para sobrepor sombra*/
	box-shadow: 0 2px 4px 0 rgba(0,0,0,.05),
				0 4px 8px 0 rgba(0,0,0,.05);
}

/*Centralizar fontawesome na tile line*/
.fa-check{
	padding-top: 12px;
}

body{
	padding-top: 72px;
}

hr.hr-one {
padding: 0;
border: none;
border-top: medium double #FFFFFF;
color: #FFFFFF;
text-align: center;
}