.bg-sobre{
	background-color: #192a56;
}

.titulo{
    font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
    font-size: 35pt;
}

.subtitulo {
	font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
    font-size: 20pt;
}

.texto-normal{
	font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
 	letter-spacing:0.1em;
	margin: 20px auto;
 	line-height: 145%;
 	font-size: 12pt;
 	font-variant: small-caps;
 	text-align: justify;
}

.texto-informacao{
    font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
 	letter-spacing:0.1em;
	margin: 20px auto;
 	line-height: 145%;
 	font-size: 12pt;
 	font-variant: small-caps;
 	text-align: justify;
 	text-indent: 4em;
}
